:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Variables */
  --color-bg-dark: #1f1f1f;
  --color-bg-terminal: #303030;
  --color-border-gray: #6a6a6a;
  --color-text-light-gray: #c8c8c8;
  --color-text-light: #e6e6e6;
  --color-white: #ffffff;
  --color-terminal-red: #ff6057;
  --color-terminal-yellow: #ffbd2e;
  --color-terminal-green: #27c93f;
  --color-active-nav: rgb(158, 188, 219);

  /* RGB values for use in rgba() functions */
  --color-text-light-gray-rgb: 200, 200, 200;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-dark);
  background-image: linear-gradient(
      0deg,
      transparent 9%,
      rgba(var(--color-text-light-gray-rgb), 0.2) 10%,
      rgba(var(--color-text-light-gray-rgb), 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 30%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 50%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 70%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 90%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 91%,
      transparent 92%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 9%,
      rgba(var(--color-text-light-gray-rgb), 0.2) 10%,
      rgba(var(--color-text-light-gray-rgb), 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 30%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 50%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 70%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 90%,
      rgba(var(--color-text-light-gray-rgb), 0.1) 91%,
      transparent 92%,
      transparent
    );
  height: 100%;
  background-size: 50px 50px;
}
