:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
}

/*
display light grey lines in the background like if it was a grid
*/
body {
  background: #181616;
}
